<mat-card appearance="outlined">
  <mat-card-content>
    <div class="row">
      <div class="col-3 col-12-sm">
        <mat-form-field appearance="outline">
          <mat-label>HTTP Method</mat-label>
          <mat-select [(ngModel)]="curl.method">
            @for (method of methods; track method) {
            <mat-option [value]="method">{{method}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-9 col-12-sm">
        <mat-form-field id="url-field" appearance="outline">
          <mat-label>URL</mat-label>
          <input matInput [(ngModel)]="curl.url" />
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <mat-tab-group>
        <mat-tab label="Headers">Headers</mat-tab>
        <mat-tab label="Parameters">Parameters</mat-tab>
        <mat-tab label="Auth">Auth</mat-tab>
        <mat-tab label="Body">
          <body-builder (bodyChange)="bodyChanged($event)"></body-builder>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="getCurl()">Get CURL</button>
  </mat-card-actions>
</mat-card>