<div>
  <div class="row">
    <mat-form-field>
      <mat-label>Content-Type</mat-label>
      <mat-select [(ngModel)]="body.type">
        <mat-option value="none">None</mat-option>
        @for (group of typeGroups; track group) {
        <mat-optgroup [label]="group.label">
          @for (type of group.types; track type) {
          <mat-option [value]="type.value">{{type.label}}</mat-option>
          }
        </mat-optgroup>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    @if (body.type == "application/json") {
    <mat-form-field id="body-field" appearance="outline">
      <mat-label>Body</mat-label>
      <textarea matInput rows="10" [(ngModel)]="body.payload"></textarea>
    </mat-form-field>
    }
    @else if (["multipart/form-data",
    "application/x-www-form-urlencoded"].includes(body.type)){
    <property-builder />
    }
    @else {}
  </div>
</div>