<div>
  <div class="row table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="field">
        <td mat-cell *matCellDef="let element;">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Field" [(ngModel)]="element.field" />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element;">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Value" [(ngModel)]="element.value" />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="remove">
        <td mat-cell *matCellDef="let i = index">
          <button mat-icon-button (click)="removeData(i)" class="icon-container">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="row">
    <button mat-button (click)="addData()">
      Add data
    </button>
    <button mat-button (click)="getData()">
      Get data
    </button>
  </div>
</div>