mat-form-field {
  width: 100%;
  margin-bottom: -1.25em;
}
.table-container {
  height: 300px;
  overflow-y: auto;
  border: thin solid #74777f;
}
td.mat-mdc-cell {
  border: none;
  padding: 5px 2px;
}
.icon-container {
  display: flex;
  align-items: center;
}
